@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif, 'Barlow Semi Condensed';

}

html,
body {
    height: 100%;
    width: 100%;

    --background-color: #c9c9d1;
    --text-color: #00004E;

    --card-background-color: rgba(255, 255, 255, .015);
    --card-border-color: rgba(255, 255, 255, 0.1);
    --card-box-shadow-1: rgba(0, 0, 0, 0.05);
    --card-box-shadow-1-y: 3px;
    --card-box-shadow-1-blur: 6px;
    --card-box-shadow-2: rgba(0, 0, 0, 0.1);
    --card-box-shadow-2-y: 8px;
    --card-box-shadow-2-blur: 15px;
    --card-label-color: #00004E;
    --card-icon-color: #D4D4D8;
    --card-icon-background-color: rgba(255, 255, 255, 0.08);
    --card-icon-border-color: rgba(255, 255, 255, 0.12);
    --card-shine-opacity: .1;
    --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(16, 100, 185, 0) 0deg, #00004E 25deg, rgba(52, 211, 153, 0.18) 295deg, rgba(16, 185, 129, 0) 360deg);
    --card-line-color: #2A2B2C;
    --card-tile-color: rgba(16, 92, 185, 0.05);

    --card-hover-border-color: rgba(255, 255, 255, 0.2);
    --card-hover-box-shadow-1: rgba(0, 0, 0, 0.04);
    --card-hover-box-shadow-1-y: 5px;
    --card-hover-box-shadow-1-blur: 10px;
    --card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
    --card-hover-box-shadow-2-y: 15px;
    --card-hover-box-shadow-2-blur: 25px;
    --card-hover-icon-color: #ffffff;
    --card-hover-icon-background-color: rgba(52, 113, 211, 0.1);
    --card-hover-icon-border-color: rgba(52, 102, 211, 0.2);

    --blur-opacity: .01;

    &.light {
        --background-color: #FAFAFA;
        --text-color: #52525B;

        --card-background-color: transparent;
        --card-border-color: rgba(24, 24, 27, 0.08);
        --card-box-shadow-1: rgba(24, 24, 27, 0.02);
        --card-box-shadow-1-y: 3px;
        --card-box-shadow-1-blur: 6px;
        --card-box-shadow-2: rgba(24, 24, 27, 0.04);
        --card-box-shadow-2-y: 2px;
        --card-box-shadow-2-blur: 7px;
        --card-label-color: #18181B;
        --card-icon-color: #18181B;
        --card-icon-background-color: rgba(24, 24, 27, 0.04);
        --card-icon-border-color: rgba(24, 24, 27, 0.1);
        --card-shine-opacity: .3;
        --card-shine-gradient: conic-gradient(from 225deg at 50% 50%, rgba(16, 185, 129, 0) 0deg, #10B981 25deg, #EDFAF6 285deg, #FFFFFF 345deg, rgba(16, 185, 129, 0) 360deg);
        --card-line-color: #E9E9E7;
        --card-tile-color: rgba(16, 185, 129, 0.08);

        --card-hover-border-color: rgba(24, 24, 27, 0.15);
        --card-hover-box-shadow-1: rgba(24, 24, 27, 0.05);
        --card-hover-box-shadow-1-y: 3px;
        --card-hover-box-shadow-1-blur: 6px;
        --card-hover-box-shadow-2: rgba(24, 24, 27, 0.1);
        --card-hover-box-shadow-2-y: 8px;
        --card-hover-box-shadow-2-blur: 15px;
        --card-hover-icon-color: #18181B;
        --card-hover-icon-background-color: rgba(24, 24, 27, 0.04);
        --card-hover-icon-border-color: rgba(24, 24, 27, 0.34);

        --blur-opacity: .1;
    }
}

nav {
    position: relative;
    background-color: #00004e;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    z-index: 1;
}

nav h1 {
    font-size: 2vw;
    color: white;
}

.nav-part2 {
    display: flex;
    gap: 2vw;
}

.nav-part2 a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 0.8vw;
    font-weight: 600;
}

nav button {
    background-color: white;
    color: #00004e;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 600;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #00004e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page1 h1 {
    color: white;
    font-size: 8vw;
    font-weight: 600;
    line-height: 8vw;
}

#page1 svg {
    height: 3vw;
    width: 3vw;
    background-color: hsl(50, 100%, 50%);
    color: #00004e;
    border-radius: 50%;
    margin-left: 16.5%;
    z-index: 99;
}

#moving-div {
    /* background-color: red; */
    margin-top: 10vh;
    position: relative;
    bottom: 3%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
    width: 44%;


}

#moving-div .move {
    display: inline-block;
    animation-name: mobe;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-div .move img {
    height: 1vw;
    margin: 0 1.2vw;
}

@keyframes mobe {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }

}

#blur-left {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, #00004e, transparent);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#blur-right {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, transparent, #00004e);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}




#page2 {
    height: 100vh;
    width: 100vw;
    background-color: hsl(0, 0%, 94%);
    position: relative;
    padding-bottom: 13vh;
}


/* #page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
   
} */

.section {
    width: 100%;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13vh 10vw;
    padding-bottom: 0;
}

.sec-left {
    height: 100%;
    width: 25%;
    padding-top: 3vh;
    /* background-color: aqua; */
    border-top: 2px solid #000;

}

.sec-left h2 {
    font-size: 2.1vw;
    font-weight: 500;
    color: #000;
}

.sec-left p {
    color: #000;
    margin-top: 10vh;
    font-size: 1.2vw;
    /* width: 80%; */
}

.sec-right {
    height: 100%;
    width: 70%;
    background-color: blanchedalmond;
    position: relative;
}

.sec-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sec-right video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity ease 0.1s;
}











#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #000;
    z-index: 99;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    gap: 10px
}

#loader h3 {
    font-size: 2vw;
    font-weight: 400;
}

/* page 3 */

#page3 {
    min-height: 60vh;
    width: 100vw;
    background-color: #00004e;
    position: relative;
    padding-bottom: 10%;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    grid-gap: 32px;
    position: relative;
    z-index: 1;
    justify-content: center;
}

.card {
    background-color: var(--background-color);
    box-shadow: 0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur) var(--card-box-shadow-1), 0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur) var(--card-box-shadow-2), 0 0 0 1px var(--card-border-color);
    padding: 56px 16px 16px 16px;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: box-shadow .25s;


    &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 15px;
        background-color: var(--card-background-color);
    }

    .icon {
        z-index: 2;
        position: relative;
        display: table;
        padding: 8px;

        &::after {
            content: '';
            position: absolute;
            inset: 4.5px;
            border-radius: 50%;
            background-color: var(--card-icon-background-color);
            border: 1px solid var(--card-icon-border-color);
            backdrop-filter: blur(2px);
            transition: background-color .25s, border-color .25s;
        }

        svg {
            position: relative;
            z-index: 1;
            display: block;
            width: 24px;
            height: 24px;
            transform: translateZ(0);
            color: var(--card-icon-color);
            transition: color .25s;
        }
    }

    h4 {
        z-index: 2;
        position: relative;
        margin: 12px 0 4px 0;
        font-family: inherit;
        font-weight: 600;
        font-size: 14px;
        line-height: 2;
        color: var(--card-label-color);
    }

    p {
        z-index: 2;
        position: relative;
        margin: 0;
        font-size: 14px;
        line-height: 1.7;
        color: var(--text-color);
    }

    .shine {
        border-radius: inherit;
        position: absolute;
        inset: 0;
        z-index: 1;
        overflow: hidden;
        opacity: 0;
        transition: opacity .5s;

        &:before {
            content: '';
            width: 150%;
            padding-bottom: 150%;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            bottom: 55%;
            filter: blur(35px);
            opacity: var(--card-shine-opacity);
            transform: translateX(-50%);
            background-image: var(--card-shine-gradient);
        }
    }

    .background {
        border-radius: inherit;
        position: absolute;
        inset: 0;
        overflow: hidden;
        -webkit-mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
        mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);

        .tiles {
            opacity: 0;
            transition: opacity .25s;

            .tile {
                position: absolute;
                background-color: var(--card-tile-color);
                animation-duration: 8s;
                animation-iteration-count: infinite;
                opacity: 0;

                &.tile-4,
                &.tile-6,
                &.tile-10 {
                    animation-delay: -2s;
                }

                &.tile-3,
                &.tile-5,
                &.tile-8 {
                    animation-delay: -4s;
                }

                &.tile-2,
                &.tile-9 {
                    animation-delay: -6s;
                }

                &.tile-1 {
                    top: 0;
                    left: 0;
                    height: 10%;
                    width: 22.5%;
                }

                &.tile-2 {
                    top: 0;
                    left: 22.5%;
                    height: 10%;
                    width: 27.5%;
                }

                &.tile-3 {
                    top: 0;
                    left: 50%;
                    height: 10%;
                    width: 27.5%;
                }

                &.tile-4 {
                    top: 0;
                    left: 77.5%;
                    height: 10%;
                    width: 22.5%;
                }

                &.tile-5 {
                    top: 10%;
                    left: 0;
                    height: 22.5%;
                    width: 22.5%;
                }

                &.tile-6 {
                    top: 10%;
                    left: 22.5%;
                    height: 22.5%;
                    width: 27.5%;
                }

                &.tile-7 {
                    top: 10%;
                    left: 50%;
                    height: 22.5%;
                    width: 27.5%;
                }

                &.tile-8 {
                    top: 10%;
                    left: 77.5%;
                    height: 22.5%;
                    width: 22.5%;
                }

                &.tile-9 {
                    top: 32.5%;
                    left: 50%;
                    height: 22.5%;
                    width: 27.5%;
                }

                &.tile-10 {
                    top: 32.5%;
                    left: 77.5%;
                    height: 22.5%;
                    width: 22.5%;
                }
            }
        }

        @keyframes tile {

            0%,
            12.5%,
            100% {
                opacity: 1;
            }

            25%,
            82.5% {
                opacity: 0;
            }
        }

        .line {
            position: absolute;
            inset: 0;
            opacity: 0;
            transition: opacity .35s;

            &:before,
            &:after {
                content: '';
                position: absolute;
                background-color: var(--card-line-color);
                transition: transform .35s;
            }

            &:before {
                left: 0;
                right: 0;
                height: 1px;
                transform-origin: 0 50%;
                transform: scaleX(0);
            }

            &:after {
                top: 0;
                bottom: 0;
                width: 1px;
                transform-origin: 50% 0;
                transform: scaleY(0);
            }

            &.line-1 {
                &:before {
                    top: 10%;
                }

                &:after {
                    left: 22.5%;
                }

                &:before,
                &:after {
                    transition-delay: .3s;
                }
            }

            &.line-2 {
                &:before {
                    top: 32.5%;
                }

                &:after {
                    left: 50%;
                }

                &:before,
                &:after {
                    transition-delay: .15s;
                }
            }

            &.line-3 {
                &:before {
                    top: 55%;
                }

                &:after {
                    right: 22.5%;
                }
            }
        }
    }

    &:hover {
        box-shadow: 0px 3px 6px var(--card-hover-box-shadow-1), 0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2), 0 0 0 1px var(--card-hover-border-color);

        .icon {
            &::after {
                background-color: var(--card-hover-icon-background-color);
                border-color: var(--card-hover-icon-border-color);
            }

            svg {
                color: var(--card-hover-icon-color);
            }
        }

        .shine {
            opacity: 1;
            transition-duration: .5s;
            transition-delay: 0s;
        }

        .background {

            .tiles {
                opacity: 1;
                transition-delay: .25s;

                .tile {
                    animation-name: tile;
                }
            }

            .line {
                opacity: 1;
                transition-duration: .15s;

                &:before {
                    transform: scaleX(1);
                }

                &:after {
                    transform: scaleY(1);
                }

                &.line-1 {

                    &:before,
                    &:after {
                        transition-delay: .0s;
                    }
                }

                &.line-2 {

                    &:before,
                    &:after {
                        transition-delay: .15s;
                    }
                }

                &.line-3 {

                    &:before,
                    &:after {
                        transition-delay: .3s;
                    }
                }
            }
        }
    }
}


#page3 h1 {
    color: #fff;
    font-size: 5vw;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;

}

#page4 {
    min-height: 100vh;
    width: 100vw;
    background-color: #EDF2F8;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #page5 */

#page5 {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #00004E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerdiv
{
	transform: scale(0.9);
	margin: 1rem;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: repeat(2,22rem);
	grid-template-columns: repeat(4,17rem);
}
.eachdiv
{
	padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #6d6b6b6b;
    color: white;
}
.div1
{
	background: #733FC8;
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 25rem;
}
.div2
{
	background:#49556B;
    grid-column: 3/4;
    grid-row: 1/2;
}
.div3
{
	background: white;
    grid-column: 4/5;
    grid-row: 1/3;
    color: black;
}
.div4
{
	background: white;
	grid-column: 1/2;
    grid-row: 2/3;
    color: black;
}
.div5
{
	background: #18202D;
	grid-column: 2/4;
    grid-row: 2/3;
}
.userdetails
{
	display: flex;
}
.imgbox
{
	margin-right: 1rem;
}
.imgbox img
{
	border-radius: 50%;
	width: 2rem;
	border: 2px solid #cec5c5;
}
.detbox
{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.detbox p
{
	margin: 0;
}
.detbox .name
{
	color: hsl(0, 0%, 81%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}
.detbox .name.dark
{
	color: #49505A;
}
.detbox .designation
{
	color: hsl(0, 0%, 81%);
    opacity: 50%;
    font-size: 0.8rem;
}
.detbox .designation.dark
{
	color: #49505A;
}
.review h4
{
	font-size: 1.4rem;
	color: #F3DEFF;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}
.review.dark h4{
	color:#4B5258;
}
.review p
{
	font-size: 0.95rem;
    color: #F3DEFF;
    font-weight: 500;
    opacity: 50%;
    line-height: 1.5;
}
.review.dark p{
	color: #0e0e0e;
}
.attribution
{
	font-size: 1rem;
    line-height: 1.5;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
}
.attribution a
{
	text-decoration: none;
}

@media only screen and (max-width: 1000px)
{
	.innerdiv
	{
		transform: scale(0.7);
	}
}
@media only screen and (max-width: 800px)
{
	.innerdiv
	{
		transform: scale(0.6);
	}
}
@media only screen and (max-width: 600px)
{
	.div1 {
		background-position-x: 10rem;
	}
	.innerdiv
	{
		display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
	}
	.attribution
	{
		position: relative;
	}
}

/* #page6 */

#page6{
    min-height: 100vh;
    width: 100vw;
    background-color: #EDF2F8;
    position: relative;
}