@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
html,body{
    height: 100%;
    width: 100%;
}

nav{
    position: relative;
    background-color: #00004e;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    z-index: 1;
}

nav h1{
    font-size: 2vw;
    color: white;
}
.nav-part2{
    display: flex;
    gap: 2vw;
}
.nav-part2 a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 0.8vw;
    font-weight: 600;
}

nav button{
    background-color: white;
    color: #00004e;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 600;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #00004e;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page1 h1{
    color: white;
    font-size: 8vw;
    font-weight: 600;
    line-height: 8vw;
}

#page1 svg{
    height: 3vw;
    width: 3vw;
    background-color: hsl(50, 100%, 50%);
    color: #00004e;
    border-radius: 50%;
    margin-left: 16.5%;
    z-index: 99;
}

#moving-div {
    /* background-color: red; */
    margin-top: 10vh;
    position: relative;
    bottom: 3%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
    width: 44%;


}

#moving-div .move {
    display: inline-block;
    animation-name: mobe;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-div .move img {
    height: 1vw;
    margin: 0 1.2vw;
}

@keyframes mobe {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }

}

#blur-left {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, #00004e, transparent);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#blur-right {
    height: 100%;
    width: 20%;
    background: linear-gradient(to right, transparent, #00004e);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}




#page2{
    height: 100vh;
    width: 100vw;
    background-color: hsl(0, 0%, 94%);
    position: relative;
    padding-bottom: 13vh;
}


/* #page4 {
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
   
} */

.section {
    width: 100%;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13vh 10vw;
    padding-bottom: 0;
}

.sec-left {
    height: 100%;
    width: 25%;
    padding-top: 3vh;
    /* background-color: aqua; */
    border-top: 2px solid #000;

}

.sec-left h2 {
    font-size: 2.1vw;
    font-weight: 500;
    color: #000;
}

.sec-left p {
    color: #000;
    margin-top: 10vh;
    font-size: 1.2vw;
    /* width: 80%; */
}

.sec-right {
    height: 100%;
    width: 70%;
    background-color: blanchedalmond;
    position: relative;
}

.sec-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sec-right video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity ease 0.1s;
}







/* page 3 */

#page3{
    height: 100vh;
    width: 100vw;
    background-color: #00004e;
    position: relative;
}



#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #000;
    z-index: 99;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #fff;
    gap: 10px
}

#loader h3{
    font-size: 2vw;
    font-weight: 400;
}